<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml" /> -->

	<!-- <include resource="org/springframework/boot/logging/logback/defaults.xml" /> -->

	<appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}[%thread]%-5level %logger{50} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	
	<!-- add by ZhangYuWei 20190128 start...... -->
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
		<!-- <file>/usr/local/nantian/log/nantian_erp_eureka_server/nantian_erp_eureka_server.log</file> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
           <!-- 日志文件输出的文件名,%i用来标记分割日志的序号 -->
           <FileNamePattern>/usr/local/nantian/log/nantian_erp_eureka_server/nantian_erp_eureka_server.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
           <!-- 单个日志文件最大50MB, 保存90天的日志, 日志文件空间为20GB -->
           <maxFileSize>50MB</maxFileSize>
           <maxHistory>90</maxHistory>
           <totalSizeCap>20GB</totalSizeCap>
       </rollingPolicy>
       <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
           <level>INFO</level>
       </filter>
       <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
       		<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%msg：日志消息，%n是换行符-->
           <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
       </encoder>
	</appender>
    <!-- add by ZhangYuWei 20190128 end...... -->


	<springProfile name="default">
		<logger name="org.springboot" level="INFO" />
		<logger name="org.springframework.web" level="INFO" />
	</springProfile>

	<springProfile name="dev">
		<logger name="org.springboot" level="INFO" />
		<logger name="org.springframework" level="INFO" />
	</springProfile>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		 <appender-ref ref="FILE" /> 
	</root>


</configuration>  