<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nantian.erp.salary.data.dao.ErpSalaryMonthPerformanceRecordMapper">

<insert id="insertRecord" parameterType="com.nantian.erp.salary.data.model.ErpSalaryMonthPerformanceRecord">
	INSERT INTO erp_month_performance_record(
		firstDepartmentId,month,processor,time,content
	)
	VALUES(
		#{firstDepartmentId},#{month},#{processor},#{time},#{content}
	)
</insert>

<select id="selectRecordById" parameterType="java.util.Map" resultType="com.nantian.erp.salary.data.model.ErpSalaryMonthPerformanceRecord">
	select id,firstDepartmentId,month,processor,time,content
	from erp_month_performance_record
	where firstDepartmentId = #{firstDepartmentId} and month = #{month}
	order by time desc
</select>

</mapper>