<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.nantian.erp.salary.data.dao.ErpTodoListForSalaryMapper">

	<select id="countPayrollTodo" parameterType="java.util.Map"
		resultType="java.lang.Long">
		select count(*)
		from erp_payRoll_flow epf
		where 1=1
		<if test="personId != null">
			and epf.currentPersonID = #{personId}
		</if>
		<if test="status != null">
			and epf.status = #{status}
		</if>
		<if test="positiveMonth !=null">
			and positiveMonth = #{positiveMonth}
		</if>
	</select>

</mapper>