<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nantian.erp.hr.data.dao.ErpPositiveRecordMapper">

<insert id="insertPositiveRecord" parameterType="com.nantian.erp.hr.data.model.ErpPositiveRecord">
	INSERT INTO positive_record(
		context,employeeId,time,person
		)
	VALUES(
		#{context},#{employeeId},#{time},#{person}
		)
</insert>

<select id="findByEmployeeId" parameterType="java.lang.Integer" resultType="com.nantian.erp.hr.data.model.ErpPositiveRecord">
	select context,employeeId,time,person
	from positive_record
	where employeeId = #{employeeId}
	order by id desc
</select>

</mapper>