<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nantian.erp.hr.data.dao.ErpProjectInfoMapper">

<select id="findAllProjectInfo" resultType="com.nantian.erp.hr.data.model.ErpProjectInfo">
	SELECT projectInfoId,projectName,manager,managerEmail
	FROM  projectinfo
</select>

</mapper>